label{
    font-weight: bold;
}

#admin_title{
    color : #7fc241;
    text-align: center !important;
}

#ins_title{
    color: #7fc241;
}

.title_category{
    background-color: #7fc241;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 3rem;
}
.ins_adresse{
    margin : 3rem 0 2rem 0; 
}


#error_message{
    color: red;
}

#modal_registerOk{
    color : #7fc241;
    text-transform: uppercase !important;
    font-size: 1.7em ! important;
    text-align: center;
}
.btn_form{
    max-width: 130px !important;
}
#showMail{
    color: #e3007e;
    text-transform: uppercase !important;
    font-size: 1.5em ! important;
    text-align: center;
}

#champ_obligatoire, #error_message{
    text-align: center;
    font-weight: bold;
}

#redirect_login{
    font-weight: bold;
}

#btn_info_psw{ 
    height: 35px;
    width: 35px;
}

.info_sport, .info_event, .info_contact{
    background-color: white;
    padding: 0 0 2em 0;
    margin: 0 0 2em 0;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .15);
}

.main_sport{
    background-color: bisque;
    padding: 2em 0 2em 0;
    margin: 0 0 2em 0;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .15);
}


.btn-form{
    display: block;
    margin: auto;
}