/* Main css for all the page */

html,
body,
aside,
section,
footer,
header,
nav {
    font-family: Arial, Helvetica, sans-serif;
}

/* HTML and BODY layout */

body {
    margin: auto;
    max-width: 1150px;
}

/* Footer layout */

footer {
    background-color: #e2eaf6;
}

/* Title layout */

h1 {
    text-align: center;
}

h2 {
    text-align:left;
    text-transform: uppercase;
    color: #231f20;
    margin-bottom: 35px;
}

h3{
    padding-top: 1em;
}
h4 {
    margin-left: 10px;
}

.btn-primary {
    color: #fff !important;
    background-color: #A4BCE4 !important;
    border-color: #A4BCE4 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #89ace6 !important;
    border-color: #89ace6 !important;
}

.btn-default {
    border-color: #89ace6;
    background-color: #ffffff;
    color: #000;
}

.btn-default:hover {
    border-color: #89ace6;
    background-color: #89ace6;
    color: #fff;
}

.header-background {
    background-image: url(../img/travel.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.jumbotron {
    background-color: #e2eaf6 !important;
}



.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px !important;
}

.li {
    height: 80px;
    width: 500px;
}


.list {
    list-style: none;
    font-size: 4.5em;
    font-weight: bold;
    color: white;
}

.li:hover {
    cursor: pointer;
    color: darkgray;
}




.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-toggler {
    background: #fff;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}

.nav-link.active,
.nav-link:focus {
    color: #fff;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
footer.page-footer a {
    color: #4c4c4c !important;
}

.text-uppercase {
    color: #4c4c4c !important;
}

.form-group.required label:after {
    content:"*";
    color:red;
}

a {
    color:#4a83e2;
}

.blue-icon {
    color: #4a83e2;
}

.service{
    text-align: center;
}

img{
    height: 12em;
    width: 15em;
}

#logoNav{
    height: 100px;
    width: 100px;
}



/* PAGE TOURNOI */

.easyPaginateNav{
    text-align: center;
}