<script src="assets/js/accueil.js"></script>
<link
<!-- Header common of all the site -->



<div class="container-fluid">
  <div class="row w-100 justify-content-center pb-5">
    <h2>Qui sommes nous? </h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
</div>



<div class="container-fluid pb-5">
  <div class="row w-100 justify-content-center">
    <h2>Nos services</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col service">
      <img src="assets/img/FNH.png">
      <h3> Aide aux associations</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col service">
      <a href="event_list"><img src="assets/img/tournament.jpg" alt="image tournoi" title='Voir les évènements disponibles'></a>
    <h3> Gestion d'évènements sportifs amateur</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    <p>Retrouvez la <span><a href="event_list" >liste des tournois et évènements partenaires</a> </span> !</p>
    </div>
    <div class="col service">
      <img src="assets/img/helpassocolor.png">
      <h3>Je sais pas  </h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>
</div>


<div class="container-fluid pt-5">
  <div class="row w-100 justify-content-center">
    <h2>Nos partenaires</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col service">
      <img class="rounded" src="assets/img/FNH.png">
    </div>
    <div class="col service">
      <a href="tournoi"><img class="rounded" src="assets/img/tournament.jpg" alt="image tournoi" title='Voir les évènements disponibles'></a>
    </div>
    <div class="col service">
      <img class="rounded" src="assets/img/helpassocolor.png">
    </div>
  </div>
</div>


