<script type="text/javascript" src="assets/js/admin.js"></script>
<script src="assets/datatables/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
<script src="assets/datatables/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="assets/datatables/DataTables-1.10.21/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/admin.css">




<div class="row">
    <div class="col-12 mt-5">
        <h2>DataTable évènement</h2>
        <table id="table_event" border="1" class="table table-striped table-bordered responsive" width="100%">
        </table>
    </div>
    
</div>

<div class="col-md ins_ip">
    <a href="#admin_title" ><h2 id="admin_title">AJOUT EVENEMENT</h2></a>
    
    <form class="form-row-fluid" method="POST">
  
        <div class="info_event">

            <div class="d-flex justify-content-between title_category ">				
                <h3>Etape 1 : Informations Evènement</h3>
            </div>

            <div class="form-group d-flex align-items-center">
                <label for="name_event" class="col-lg-2 control-label">Intitulé évènement</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" name="name_event" id="name_event" required placeholder="Renseigner le titre de l'évènement">
                </div>
            </div>

            <div class="form-group d-flex align-items-center">	
                <label for="ville" class="col-lg-2 control-label">Ville - Code Postal</label>
                <div class="col-lg-9">
                    <input list="dl_ville" id="dl_ville-choix" class="form-control" name="dl_ville-choix" placeholder="Renseigner le lieu de l'évènement">
                    <datalist id="dl_ville">
                        {% for ville in resultat["admin_ville"] %}
                            <option value="{{ ville.ville }} - {{ ville.code_postal }}" data-id="{{ ville.id_ville }}"></option>
                        {% endfor %}
                    </datalist>
                </div>
            </div>


            <div class="form-group d-flex align-items-center">	
                <label for="adresse_event" class="col-lg-2 control-label">Adresse évènement</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" name="adresse_event" id="adresse_event" required placeholder="Indiquez votre adresse (Format : N° Type de voie Nom de la voie)">
                </div>
            </div>

            {# Voir pour gérer plusieurs adresses si le temps  #}

            <div class="form-group d-flex align-items-center">	
                <label for="date_event_begin" class="col-lg-2 control-label">Début de l'évènement</label>
                <div class="col-lg-3">
                    <input type="date" class="form-control" name="date_event_begin" id="date_event_begin" placeholder="Indiquez votre adresse (Format : N° Type de voie Nom de la voie)">
                </div>
                <label for="date_event_end" class="col-lg-2 control-label">Fin de l'évènement</label>
                <div class="col-lg-4">
                    <input type="date" class="form-control" name="date_event_end" id="date_event_end" placeholder="Indiquez votre adresse (Format : N° Type de voie Nom de la voie)">
                </div>
                
            </div>

            
        </div>



        <div class="info_sport">

            <div class="d-flex justify-content-between title_category">				
                <h3>Etape 2 : Activité(s)</h3>
            </div>
            {# Twig : Gestion du nombre de sport voulu #}
            {% for i in range(0, 9) %}
            {# Preload 10 section of sport and show only first #}
        
            <div class="main_sport" id="main_sport{{loop.index}}">
                
                <div class="form-group d-flex w-100 sport" id="div_sport_{{loop.index}}">
                    <div class="col-lg-3">
                        <h4 >Sport {{loop.index}} </h4>
                    </div>  
                    
                    
                    <div class="col-lg-8 input_area">

                        <div class="form-group d-flex justify-content-betwwen sport">
                            <input list="dl_sport{{loop.index}}" id="dl_sport-choix{{loop.index}}" class="form-control hideMe{{loop.index}}" name="dl_sport-choix{{loop.index}}" placeholder="Renseigner le sport">
   
                            <datalist id="dl_sport{{loop.index}}">
                                {% for sport in resultat["admin_sport"] %}
                                <option value="{{ sport.nom_sport }}" data-id="{{sport.id_sport}}"></option>
                                {% endfor %}
                            </datalist>
                        </div>

                        <div class="form-group d-flex justify-content-betwwen sport">
                            <label for="date_sport_begin{{ loop.index }} " class="col-lg-2 control-label">Date début</label>
                            <div class="col-lg-10">
                                <input type="date" class="form-control hideMe{{loop.index}}" name="date_sport_begin{{ loop.index }}" id="date_sport_begin{{ loop.index }}" >
                            </div>
                        </div>

                        <div class="form-group d-flex justify-content-betwwen sport">
                            <label for="date_sport_end{{ loop.index }}" class="col-lg-2 control-label">Date fin</label>
                            <div class="col-lg-10">
                                <input type="date" class="form-control hideMe{{loop.index}}" name="date_sport_end{{ loop.index }}" onChange="displayNbJour({{loop.index}})" id="date_sport_end{{ loop.index }}" >
                            </div>
                        </div>
                        <div class="sport" id="detail_jours_sport{{loop.index}}">
                           {# Injection du contenu par calculnbSport - Javascript #}
                            
                        </div>
                        <div class="form-group d-flex justify-content-betwwen sport mr-5">
                            <button type="button" class="btn-form btn-danger " onclick="testHide1Div('{{loop.index}}')">Supprimer sport</button>
                        </div>
                       
                        
                    </div>
                   
                </div>     

            </div>
            {% endfor %}

            <div class="d-flex justify-content-between">
                <button type="button" class="btn-form btn-primary" onclick="addSportView()">Ajout sport</button>
            </div>    
        </div>

        <input type="hidden" value="1" id="nbInput">
        
        {# Twig : Fin Gestion du nombre de sport voulu #}

   
        <div class="info_contact">
        <!-- STEP 2 : Contact -->
            <div class="d-flex justify-content-between title_category ">				
                <h3>Etape 3 : Informations Contact</h3>
            </div>

            <div class="form-group d-flex align-items-center">		
                <label for="nom_contact" class="col-lg-3 control-label">Nom</label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="nom_contact" id="nom_contact"  placeholder="Nom du contact">
                </div>
            </div>

            <div class="form-group d-flex align-items-center">		
                <label for="mail_contact" class="col-lg-3 control-label">E-mail</label>
                <div class="col-lg-8">
                    <input type="email" class="form-control" name="mail_contact" id="mail_contact"  placeholder="Mail du contact">
                </div>
            </div>

            <div class="form-group d-flex align-items-center">		
                <label for="telephone_contact" class="col-lg-3 control-label">Téléphone</label>
                <div class="col-lg-8">
                    <input type="number" class="form-control" name="telephone_contact" id="telephone_contact" required placeholder="Numéro de téléphone du contact">
                </div>
            </div>
        </div>
		
        <p id="error_message"></p>

        <div class="row-fluid d-flex justify-content-center">
            <button type="button" class="btn_pink ins_btn_form ml-2" id="ins_btn_section_cancel" onclick="clearData()">Annuler</button>
            <button type="submit" class="btn_green ins_btn_form ml-2" id="ins_btn_section_register" onclick="create_event()">Valider</button>
        </div>
    </form>
</div>
