
<link rel="stylesheet" type="text/css" media="screen" href="assets/css/event_list.css"/>
<script type="text/javascript" src="assets/js/event_list.js"></script>
<link href='assets/fullcalendar/main.css' rel='stylesheet' />
<script src='assets/fullcalendar/main.js'></script>



<div class="row w-100 justify-content-center tournoi_title">
    <h2>Liste des évènements partenaires</h2>
</div>

    <div class="row justify-content-around pb-5">
        <button class="btn-primary" onclick="dateChanger()">Trier par date</button>
        <button class="btn-primary" onclick="villeChanger()">Trier par lieu</button>
        <button class="btn-primary" onclick="nameChanger()">Trier par nom</button>

    </div>     


    
<div id="resultat_recherche">
    <!-- Datatable -->
    <div id="paginate" class="d-flex justify-content-around">

    </div>
    <!-- Ici s'affiche chaque tournoi récupéré en base de donnée par date de commencement -->

</div>
    
<div class="row w-100 justify-content-center tournoi_title">
    <h2>Notre agenda</h2>
</div>

<div id="calendar"></div>


