


<link rel="stylesheet" type="text/css" media="screen" href="assets/css/fiche_event.css">
<script type="text/javascript" src="assets/js/fiche_event.js"></script>

<div class="row w-100 justify-content-center tournoi_title pt-5">
    <h2>{{resultat['fiche_event'][0]['nom_event']}}</h2>
</div>


<div class="d-flex justify-content-around tournoi_title">
    {% for sport in resultat['fiche_event'] %}
    <div>
        <h2>{{sport.nom_sport}}</h2>

        <!-- Datatable -->

        <!-- Ici s'affiche chaque tournoi récupéré en base de donnée par date de commencement -->

        
        <div id="event_{{event.id}}" class="a-cardui fluid-fat-image-link fluid-card fluid-fat-image-link" data-a-card-type="basic">
            <div class="a-cardui-header">
                <h2 class="a-color-base headline truncate-2line">{{event.nom_event}}</h2>
            </div>
            <div class="a-cardui-body">
                <a class="a-link-normal center-image aok-block image-window" href="b?node=21734155031">
                    <div class="a-section a-spacing-none fluid-image-container">
                        <img alt="" src="https://images-eu.ssl-images-amazon.com/images/G/08/gaming2020/gamingstore/trafficdrivers/Gateway_desktop_304_x_304_1._SY304_CB410289552_.jpg" class="landscape-image" data-a-hires="https://images-eu.ssl-images-amazon.com/images/G/08/gaming2020/gamingstore/trafficdrivers/Gateway_desktop_608_x_608_1._SY608_CB410289552_.jpg">
                    </div>
                </a>
            </div>
            <div class="a-cardui-footer pt-5">
                <p>Date début : {{ sport.date_sport_begin }} !</p>
                <p>Date fin : {{ sport.date_sport_begin }} !</p>
                <p>Horaires : {{ sport.horaires }}</p>
                <p>Détails : {{ sport.details_sport }}</p>
                
            </div>
            
        </div>
    </div>
    {% endfor %}
    
</div>
<div class="d-flex justify-content-center">
    <button class="btn btn-primary easyPaginateNav mt-5 mb-5">Je m'inscris</button>
</div>
