<!-- Footer Links -->
<div class="container text-center text-md-left">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-6 mt-md-0 mt-3">

      <!-- Content -->
      <a class="navbar-brand" href="#">
        <img src="/fansnhumans/assets/img/icon.svg" height="50" alt="mdb logo">
      </a>

    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none pb-3">

    <!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-3">

      <!-- Links -->

      <ul class="list-unstyled">
        <li>
          <a href="#!">Qui Sommes-nous</a>
        </li>
        <li>
          <a href="#!">CGS</a>
        </li>
        <li>
          <a href="#!">Mentions légales</a>
        </li>
        <li>
          <a href="#" data-toggle="modal" data-target="#modalContact">Contact</a>
        </li>
      </ul>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-3">

      <!-- Links -->

      <ul class="list-unstyled">
        <li>
          <a href="#!">Made with ❤️ in Montpellier</a>
        </li>
        <li>
          <a href="#!">Email : helpasso@gmail.com </a>
        </li>
      </ul>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="accueil"> HelpAsso.fr</a>
  </div>
  <!-- Copyright -->
</div>
<!-- Footer Links -->


<div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="contact" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="text-align: center" >Laissez nous un message, nous vous recontactons au plus vite !</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nom" class="col-form-label">Nom :</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Votre nom">
          </div>
          <div class="form-group">
            <label for="prenom" class="col-form-label">¨Prénom :</label>
            <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Votre prénom">
          </div>
          <div class="form-group">
            <label for="mail" class="col-form-label">Mail :</label>
            <input type="mail" class="form-control" id="mail" name="mail" placeholder="Votre adresse mail">
          </div>
          <div class="form-group">
            <label for="modal_message" class="col-form-label">Message:</label>
            <textarea class="form-control" id="modal_message" name="modal_message"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn-cancel-mail" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" id="btn-mail-send" onclick="sendmail()">Envoyer</button>
      </div>
    </div>
  </div>
</div>