<script type="text/javascript" src="assets/js/inscription_admin.js"></script>

<h2 style="text-align: center;">New Admin</h2>


<div class="col-md ins_ip">
    
    <form class="form-row-fluid" method="POST">

        <div class="form-group d-flex align-items-center">
            <label for="nom_admin" class="col-lg-3 control-label">Nom</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" name="nom_admin" id="nom_admin" required placeholder="Indiquez votre nom de famille">
            </div>
        </div>     

        <div class="form-group d-flex align-items-center">
            <label for="prenom_admin" class="col-lg-3 control-label">Prénom</label>
            <div class="col-lg-8">
                <input type="text" class="form-control" name="prenom_admin" id="prenom_admin" required placeholder="Indiquez votre prénom">
            </div>
        </div>


        <div class="form-group d-flex align-items-center">
            <label for="mdp_admin" class="col-lg-3 control-label">Mot de passe</label>
            <div class="col-lg-8">
                <input  type="password" class="form-control" name="mdp_admin" id="mdp_admin" placeholder="Indiquez votre mot de passe" required title="Le mot de passe doit contenir au moins 8 caractères, dont au moins 1 majuscule, 1 minuscule, 1 chiffre et un caractère spécial !,'@_-{} '">
            </div>
            <!-- ADD CHECKBOX TO SHOW / HIDE PASSWORD -->
        </div>

        <div class="form-group d-flex align-items-center">
            <label for="mdp_admin_repeat" class="col-lg-3 control-label">Confirmer mot de passe</label>
            <div class="col-lg-8">
                <input type="password" id="mdp_admin_repeat" class="form-control"  name="mdp_admin_repeat" required placeholder="Confirmer votre mot de passe">
            </div>
        <!-- ADD CHECKBOX TO SHOW / HIDE PASSWORD -->
        </div>  

        <div class="form-group d-flex align-items-center">		
            <label for="mail_admin" class="col-lg-3 control-label">E-mail</label>
            <div class="col-lg-8">
                <input type="email" class="form-control" name="mail_admin" id="mail_admin"  placeholder="Indiquez votre adresse mail">
            </div>
        </div>

        <div class="form-group d-flex align-items-center email_change">		
            <label for="mail_admin_repeat" class="col-lg-3 control-label">Confirmer E-mail</label>
            <div class="col-lg-8">
                <input type="email" class="form-control" name="mail_admin_repeat" id="mail_admin_repeat" required placeholder="Confirmer votre adresse mail">
            </div>
        </div>  

        {# button #}

        <div class="row-fluid d-flex justify-content-center">
            <button type="button" class="btn btn-primary rounded-pill my-2 mr-3" id="ins_btn_section_cancel">Retour</button>
            <button type="button" class="btn btn-success rounded-pill my-2 mr-3" onclick="new_admin()">S'inscrire</button>
        </div>
    </form>

    <div class="modal fade" id="registerOk" tabindex="-1" role="dialog" aria-labelledby="registerOk" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_registerOk">Dernière étape</h5>
            </div>
            <div class="modal-body">
                <p id="reponseOk"></p>
                <p id="showMail"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn_green" data-dismiss="modal">Compris</button>
            </div>
            </div>
        </div>
        </div>
</div>
