<script type="text/javascript" src="assets/js/login.js"></script>

<h2 style="text-align: center;">LOGIN</h2>

	<form class="form-row-fluid" method='POST'>
		<div class="form-group d-flex justify-content-center">
			<label for="mail_admin" class="col-lg-3 control-label">Identifiant</label>
			<div class="col-lg-8">
				<input type="email" class="form-control" name="mail_admin" id="mail_admin" required placeholder="Indiquez votre adresse mail">
			</div>
		</div>
		<div class="form-group d-flex justify-content-center">
			<label for="mdp_admin" class="col-lg-3 control-label">Mot de passe</label>
			<div class="col-lg-8">
				<input type="password" class="form-control" name="mdp_admin" id="mdp_admin" required placeholder="Indiquez votre mot de passe">
			</div>
		
		</div>    
		<div class="row-fluid d-flex justify-content-center pt-5">
			{% if resultat['sMessage'] == "Erreur identifiant" %}
				<p>Identifiants incorrects, veuillez réessayer.</p>
			{% endif %}
			<button type="submit" class="btn btn-primary rounded-pill my-2 mr-3">Connexion</button>
		</div> 
        
	</form>
