
<!-- Nav common of all the site -->

<nav class="navbar container">
  <a class="navbar-brand" href="./accueil">
    <img src="/helpAsso/assets/img/helpasso.png" id="logoNav" alt="mdb logo">
  </a>
  <div>
    <h1>Helpasso</h1>
  </div>
  <div class="form-inline">
    <button class="btn btn-primary rounded-pill my-2 mr-3" onclick="self.location.href='event_list'">event_list</button>
    <button class="btn btn-primary rounded-pill my-2 mr-3" onclick="self.location.href='inscription_admin'">new admin</button>
    <button class="btn btn-primary rounded-pill my-2 mr-3" onclick="self.location.href='admin'">Admin</button>
    <button class="btn btn-primary rounded-pill my-2 mr-3" onclick="self.location.href='logout'">Déconnexion</button>
  </div>
</nav>

