<!DOCTYPE HTML>
<html>
	<head>
		<link rel="icon" href="/helpAsso/assets/img/favicon32x32.png">
		<title>HelpAsso</title>
		<meta charset="utf-8">
		<meta name="description" content="165c. uniques">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Main CSS -->	
		<link rel="stylesheet" href="/helpAsso/assets/css/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="/helpAsso/assets/css/main.css">
		<link href="/helpAsso/assets/fontawesome/css/all.css" rel="stylesheet">
		<!-- Mains JS -->
		
		<script src="/helpAsso/assets/jquery/jquery-3.5.1.js"></script>	
		<script src="/helpAsso/assets/jquery/popper.min.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="/helpAsso/assets/bootstrap/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="assets/jquery/jquery.easyPaginate.js"></script>

	</head>

	<body class="container-fluid">
			<!-- Header -->
		<header class="border-bottom bg-light row">
			<!-- Navigation -->
			{% if session["admin"] not in [null, ''] %}
				{% include "nav_admin.twig" %}
			{% else %}
				{% include "nav.twig" %}
			{% endif %}
		</header>

		<!-- Section -->

		<section>
			<!-- Using twig to include other pages -->
			{% include monPHP ~ ".twig" %}
		</section>


		<!-- Footer -->
		<footer class="footer page-footer font-small blue pt-4 row">
			<!-- Using twig to include other pages -->
			{% include "footer.twig" %}
		</footer>
	</body>
</html>

